// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$theme-colors: (
  "lighten-pink": #f66d9b,
  "darken-pink" : #8e0936,
  "lighten-cyan" : #6cb2eb,
  "darken-cyan" : #114b7a,
  "lighten-purple" : #9561e2,
  "darken-purple" : #341265,
  "lighten-teal" : #73cdc5,
  "darken-teal" : #1e5650,
  "lighten-orange" : #f6993f,
  "darken-orange" : #c66609,
  "lighten-grey" : #d9d9d9,
  "darken-grey" : #bfbfbf
);